@{
    string title = "Advance Search";
    
     }

<h2>@title</h2>

<form action="/client/search1" method="get" style="margin-top: 50px;">

 <div class="form-group">
       <input type="text" name="SearchText" class="form-control" placeholder="Search....">
  </div>
    
     <input type="submit" class="btn btn-primary" value="Search">
      <p></p>
         
</form>