@{
    ViewData["title"] = "New Client";
    
     }

<h1>@ViewData["title"]</h1>


<form action="/client/New" method="post">



  <div class="form-group">
      <input type="text" name="salutation" class="form-control" placeholder="Client Salutation">
  </div>

<div class="form-group">
      <input type="text" name="firstname" class="form-control" placeholder="Client First Name">
  </div>

  <div class="form-group">
      <input type="text" name="lastname" class="form-control" placeholder="Client Last Name">
  </div>

  <div class="form-group">
      <input type="text" name="gender" class="form-control" placeholder="Gender">
  </div>

    <div class="form-group">
      <Label>Date of Birth</Label>
      <input type="date" name="dateofbirth" class="form-control" placeholder="Date of Birth">
  </div>

  <div class="form-group">
      <input type="text" name="address1" class="form-control" placeholder="Primary Address">
  </div>

<div class="form-group">
      <input type="text" name="address2" class="form-control" placeholder="Alternate Address">
  </div>

<div class="form-group">
    <Label>Format: 123-456-7890</Label>
      <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" required placeholder="Primary Contact Number">
  </div>

  <div class="form-group">
      <input type="tel" name="phone2" class="form-control" required placeholder="Alternate Contact Number">
  </div>

 <div class="form-group">
      <input type="text" name="email" class="form-control" placeholder="Client Email Address">
  </div>

        <input type="submit" class="btn btn-primary" value="Add Client">
      <p></p>
  
      </form>
  
