@{
    ViewData["Title"] = "About Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<img src="~/images/insured.png"><br>
<p><h5>I'm a happy husband with an awesome son</h5></p>
<p><h4>I'm a happy husband with an awesome son</h4></p>
<p><h3>I'm a happy husband with an awesome son</h3></p>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
</style>
</head>
<body>


<div class="row">
  <div class="column" style="background-color:white;">
   
    <h2>What I do?</h2>
    <p align="justify">I'm a Junior Site Reliability Specialist working on
        a software company that specialized on Chat and Lead
        delivery to over 80% of car industry in Canada.

        I'm also a licensed Financial Advisor whose core business is
        to provide proper protection, and offering wide Financial
        services.
    </p>
  </div>
  <div class="column" style="background-color:white;">
    <h2></h2>
    <p></p>
  </div>
</div>


</body>
</html>

