<body>
   
<img src="~/images/backround.jpg">

</body>

<div class="text-center">
  <img src="~/images/backround.jpg" class="rounded" alt="avatar">
</div>


<img src="~/images/avatar1.png" alt="avatar" class="img-thumbnail">